extends ../layouts/week-report

include ../blocks/company-health
include ../blocks/report-teams
include ../blocks/report-projects
include ../blocks/report-members

block table_body

    tr
        +companyHealth(weeksData)

    tr
        +reportTeams(weeksData)

    tr
        +reportProjects(weeksData)

