html
    head
        title() Rademade perspective
        link(href="/styles.css" media="all" rel="stylesheet")

    body
        h1 Rademade perspective

        ul.menu
            li
                a(href="/") Forecast report
            li
                a(href="/plan-fact") Plan/Fact report
            li
                a(href="/month-report") Month report
            li
                a(href="/custom-report") Custom project report

        block content

