body, html {

}

.week-info {
    vertical-align: text-top;
    padding: 5px;
    min-width: 300px
}

.is-current h3 {
    color: red;
}

.is-non-billable {
    opacity: 0.4;
}

.simple-table {
    width: 100%;
    border-collapse: collapse;
}

.simple-table td {
    border: 1px solid #04071d;
}

.simple-table .table-head {
    background: #ffff002e;
}