body, html {
    padding: 0;
    margin: 0;
}
.menu {
    padding: 0;
}

.menu li {
    display: block;
    float: left;
    text-align: left;
    padding: 10px;
    font-size: 25px;
}

.clear {
    clear: both;
}

.project-name {
    text-overflow: ellipsis;
    max-width: 180px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.week-info {
    vertical-align: text-top;
    padding: 5px;
    min-width: 300px
}

.is-current h3 {
    color: red;
}

.is-non-billable {
    opacity: 0.4;
}

.simple-table {
    width: 100%;
    border-collapse: collapse;
}

.simple-table td {
    border: 1px solid #04071d;
}

.simple-table .table-head {
    background: #ffff002e;
}

.simple-table td.good {
    color: #00811c;
}

.simple-table td.wrong {
    color: #860000;
}

.project-status {
    padding: 0 5px;
    font-size: 10px;
}

.project-status-new {
    color: #218133;
}

.project-status-fell-off {
    color: #8e0620;
}