extends ../layouts/index

block content

    div
        div.actions
            ul
                li
                    a(href="/projects/form") Add new project
                li
                    a(href="/projects/toggl-reload") Reload toggl ids

        table(border="1")
            tr
                td Project name
                td Toggl id
                td Forecast id
                td Actions
            each project in projects
                tr()
                    td() #{project.name}
                    td() #{project.togglId}
                    td() #{project.forecastCompanyId}
                    td()
                        a(href="/projects/" + project.id) Edit
                        span(class="item-delete" data-url="/projects/" + project.id) Delete